---
layout: base
---

<div class="alert alert-info text-center">
    Please note, mementos have animation effects, which are not visible in these screenshots!
</div>

{% assign thumb_base =
"https://images.weserv.nl/?w=480&h=270&fit=cover&maxage=30d&url=https://altbdoor.github.io/d2-memento/assets/images"
%} {% assign activities = "gambit, trials, nightfall" | split: ", " %}

<div class="row">
    {% for i in site.data.data %}
    <div class="col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <strong>{{ i.weapon }}</strong>
                <span>({{ i.group }})</span>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for act in activities %}
                    <div
                        class="col-sm-4 {% cycle 'mb-3 mb-sm-0', 'mb-3 mb-sm-0', '' %}"
                    >
                        <a
                            href="./assets/images/{{ i[act] }}"
                            data-title="{{ i.weapon }} - {{ act | capitalize }}"
                        >
                            <img
                                class="img-fluid"
                                src="{{ thumb_base }}/{{ i[act] }}"
                                alt="{{ i[act] }}"
                                width="480"
                                height="270"
                            />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div
    class="blueimp-gallery blueimp-gallery-controls"
    aria-label="image gallery"
    aria-modal="true"
    role="dialog"
>
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a
        class="prev"
        aria-controls="blueimp-gallery"
        aria-label="previous slide"
        aria-keyshortcuts="ArrowLeft"
    ></a>
    <a
        class="next"
        aria-controls="blueimp-gallery"
        aria-label="next slide"
        aria-keyshortcuts="ArrowRight"
    ></a>
    <a
        class="close"
        aria-controls="blueimp-gallery"
        aria-label="close"
        aria-keyshortcuts="Escape"
    ></a>
    <div class="open" aria-controls="blueimp-gallery" aria-label="open">
        <a href="#" target="_blank" class="btn btn-primary"
            >Open image in new tab</a
        >
    </div>
</div>
