<h2 class="text-center">
    <img src="./assets/memento.jpg" width="32" height="32" />
    <span>d2-memento</span>
</h2>
<p class="text-center">
    Curated by
    <a href="https://www.reddit.com/user/TheLastJoaquin">/u/TheLastJoaquin</a>,
    check out the
    <a
        href="https://docs.google.com/spreadsheets/d/1Msr7Vdqfa6MlMXYSlERAnbTwEr4Fd7rVe2uvxaPjo14"
        >original spreadsheet</a
    >! Much thanks to all data contributors!
</p>

<hr />
<ul class="list-inline">
    <li class="list-inline-item">
        <a href="./">Home</a>
    </li>
    <li class="list-inline-item">
        <a href="./question.html">
            Question (<strong>How can I help?</strong>)
        </a>
    </li>
</ul>
