.blueimp-gallery > .open {
    display: block;
    bottom: 15px;
    left: 15px;
    right: 15px;
    position: absolute;
    text-align: center;
}

.img-fluid--development {
    object-fit: cover;
    aspect-ratio: 16/9;
}

.soon-placeholder {
    height: 0;
    padding-bottom: 56.25%;
}

.soon-placeholder > div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
