<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>d2-memento</title>

        <link rel="icon" href="./assets/memento.jpg" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css"
        />
        {% if page.gallery %}
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.4.0/css/blueimp-gallery.min.css"
        />
        {% endif %}
        <link rel="stylesheet" href="./assets/style.css" />
    </head>
    <body>
        <div class="container py-3">
            {% include header.html %}
            <hr />

            <div class="container__content">{{ content }}</div>

            <hr />
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/altbdoor/d2-memento">GitHub</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://bootswatch.com/">Bootswatch</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/blueimp/Gallery/">
                        blueimp Gallery
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://images.weserv.nl/">images.weserv.nl</a>
                </li>
            </ul>
        </div>

        {% if page.gallery %} {% include gallery-setup.html %} {% endif %}
    </body>
</html>
